:root {
    --primary-text-color: rgba(255, 255, 255, 0.884);
    --focus-text-color: #ee2a2a;
    --secondary-border-color: #D0AB6D;
    --focus-bg-color: #e9ebea;
    --secondary-bg-color: #222;
}

body{
    text-decoration: none;
    font-size: 15px;
}

#Site-NavBar{
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#Site-NavBar .nav-item{
    border-bottom: 1px solid transparent;
}

#Site-NavBar .nav-item:hover{
    transition: 0.5s;
    color: var(--focus-text-color);
    background-color: var(--focus-bg-color);
    border-color: var(--focus-text-color);
}

#Site-Footer{
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#Site-Footer a{
    transition: 0.5s;
    color: var(--primary-text-color);
    text-decoration: underline;
    display: block;
}

#Site-Footer a:hover{
    text-decoration: none;
    color: var(--focus-text-color);
}

#Site-Footer svg{
    transition: 0.5s;
    height: 25px;
    width: 25px;
    fill: var(--primary-text-color);
    text-decoration: none;
}

#Site-Footer svg:hover{
    fill: var(--focus-text-color);
}

.social-media-icon{
    display: inline-block !important;
    text-decoration: none !important;
}

.news-letter{
    margin-top: 15px;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
}

.btn-custom-primary{
	color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 25px;
	position: relative;
    border: 2px solid var(--secondary-border-color);
    background-color: var(--secondary-bg-color);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    z-index: 1;
}

.btn-custom-primary:hover{
	color: white;
    text-decoration: none;
    border: 2px solid var(--focus-text-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btn-custom-primary:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}

.btn-custom-primary:before {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	background: var(--focus-text-color);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}